* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 10vh;                     /* Important */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    position: relative;               /* Needed for centered links */
}

/* Logo */
.logo {
    font-size: 22px;
    /* font-size: 1.8vw; */
    /* font-size: clamp(18px, 1.5vw, 28px); */
    font-weight: bold;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li a {
    text-decoration: none;
    color: gray;
    /* font-size: 1.4vw; */
    /* font-size: clamp(14px, 1vw, 18px); */
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    color: rgb(237, 226, 23);
}

/* Username */
.user-info {
    /* font-size: 1.5vw; */
    /* font-size: clamp(13px, 0.9vw, 16px); */
    font-size: 14px;
    padding: 0.6vw 1.2vw;
    background-color: #E6F2FF;
    border-radius: 0.6vw;
    color: #1E90FF;
}



.hero {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    font-family: Arial, Helvetica, sans-serif;
}


.left {
    width: 50%;
}

.left h1 {
    font-size: clamp(32px, 3vw, 48px);
    line-height: 1.2;
    color: #333;
}

.left h1 span {
    color: #1E90FF;
}

.left p {
    margin-top: 2vh;
    font-size: clamp(14px, 1.1vw, 18px);
    color: gray;
    width: 80%;
    line-height: 1.6;
}

.left button {
    margin-top: 3vh;
    padding: 1vh 2vw;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 0.8vw;
    font-size: clamp(14px, 1vw, 16px);
    cursor: pointer;
    transition: 0.3s ease;
}


.left button:hover {
    background-color: #187bcd;
}



.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 75%;
}
